@model RetailUp.Models.ItemToSell

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ItemToSell</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemBrand" class="control-label"></label>
                <input asp-for="ItemBrand" class="form-control" />
                <span asp-validation-for="ItemBrand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <input asp-for="ItemDescription" class="form-control" />
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel" class="control-label"></label>
                <input asp-for="ItemModel" class="form-control" />
                <span asp-validation-for="ItemModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemAddedDate" class="control-label"></label>
                <input asp-for="ItemAddedDate" class="form-control" />
                <span asp-validation-for="ItemAddedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Paste the link for the image</label>
                <input asp-for="ItemImage" class="form-control" type="file"/>
                <span asp-validation-for="ItemImage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ItemCategoryId" class="control-label"></label>
                <input asp-for="ItemCategoryId" class="form-control" />
                <span asp-validation-for="ItemCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemRemained" class="control-label"></label>
                <input asp-for="ItemRemained" class="form-control" />
                <span asp-validation-for="ItemRemained" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemLeft" class="control-label"></label>
                <input asp-for="ItemLeft" class="form-control" />
                <span asp-validation-for="ItemLeft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
